@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
  background-color: #7091f5;
  .parent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px;
      border-radius: 20px;

      .mainTitle {
        display: flex;
        justify-content: center;
      }
      input {
        border: none;
        outline: none;
        padding: 10px;
        width: 400px;
        border-bottom: 1px solid black;
      }

      button {
        color: white;
        background-color: #7091f5;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 10px;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
}

.mainblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7091f5;
  padding: 20px;
  .resume {
    padding: 20px;
    background-color: white;
    width: 595px;
    height: 842px;
    .name {
      padding: 10px;
      border-bottom: 3px solid #793fdf;
    }
    .details {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      padding: 10px;
      .details1 {
        .per {
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-bottom: 1px solid #793fdf;
          padding: 10px;
        }
      }
    }
    .details2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;

      .heading {
        padding: 5px;
        color: black;
        background-color: #f4eeee;
        margin-bottom: 2px;
      }
    }

    .heading {
      color: #337ccf;
      font-weight: bold;
    }
  }
  .buttons {
    display: flex;
    padding: 20px;
    gap: 20px;
    button {
      border: none;
      outline: none;
      color: white;
      padding: 10px;
      border-radius: 5px;
      background-color: #252b48;
      cursor: pointer;
    }
  }
}
